<div class="course">
  {{currentCourse}}
  <form class="course-form" (ngSubmit)="createCourse(courseForm)" #courseForm="ngForm" action="index.html" method="post">

    <span class="custom-span" *ngIf="currentCourseId">
      <label
        for="courseId"
        class="custom-span__label" >
          Course ID:
      </label>
      <input
        id="courseId"
        type="text"
        class="custom-span__input"
        name="name"
        [(ngModel)]="currentCourse._id"
        value=""
        disabled
        ngModel>
    </span>
    <span class="custom-span">
      <label
        for="courseName"
        class="custom-span__label" >
          Name:
      </label>
      <input
        id="courseName"
        type="text"
        maxlength="50"
        class="custom-span__input"
        name="currentCourse.name"
        [(ngModel)]="currentCourse.name"
        value=""
        ngModel
        #name="ngModel"
        required>
    </span>
    <div *ngIf="name.errors" class="alert alert-danger">
      <div [hidden]="!name.errors.required">
        Name is required
      </div>
      <div [hidden]="!name.errors.maxlength">
        Name cannot be more than 50 characters long.
      </div>
    </div>
    <span class="custom-span">
      <label
        for="courseDescription"
        class="custom-span__label" >
          Description:
      </label>
      <input
        id="courseDescription"
        type="text"
        maxlength="500"
        class="custom-span__input"
        [(ngModel)]="currentCourse.description"
        name="currentCourse.description"
        value=""
        required
        #description="ngModel"
        ngModel>
    </span>
    <div *ngIf="description.errors" class="alert alert-danger">
      <div [hidden]="!description.errors.required">
        Description is required
      </div>
    </div>
    <span class="custom-span">
      <label
        for="courseDuration"
        class="custom-span__label" >
          Course duration:
      </label>
      <input
        id="courseDuration"
        type="number"
        class="custom-span__input"
        [(ngModel)]="currentCourse.duration"
        name="currentCourse.duration"
        placeholder="minutes"
        value=""
        required
        #duration="ngModel"
        ngModel>
    </span>
    <div *ngIf="duration.errors" class="alert alert-danger">
      <div [hidden]="!duration.errors.required">
        Duration is required
      </div>
      <div [hidden]="!duration.errors.number">
        Duration should be number
      </div>
    </div>
    <span class="custom-span">
      <label
        for="courseDate"
        class="custom-span__label" >
          Course date:
      </label>
      <input
        id="courseDate"
        type="date"
        class="custom-span__input"
        [(ngModel)]="currentCourse.date"
        name="currentCourse.date"
        value=""
        placeholder="YYYY-MM-DD"
        required
        #date="ngModel"
        ngModel>
    </span>
    <div *ngIf="date.errors" class="alert alert-danger">
      <div [hidden]="!date.errors.required">
        Date is required
      </div>
      <div [hidden]="!date.errors.date">
        This is not valid date
      </div>
    </div>
    <div class="form-footer">
      <button type="submit" name="button" class="btn form-footer__button">submit</button>
    </div>
  </form>
  <app-edit [courseData]="currentModel" (courseDataOutput)="courseDataOutput($event)">
  </app-edit>
</div>