<div class="course">
    {{currentCourse}}
    <form class="course-form" (ngSubmit)="createCourse(courseForm)" #courseForm="ngForm" action="index.html" method="post">

        <span class="custom-span" *ngIf="currentCourseId">
      <label
        for="courseId"
        class="custom-span__label" >
          Course ID:
      </label>
      <input
        id="courseId"
        type="text"
        class="custom-span__input"
        name="currentCourse.id"
        [(ngModel)]="currentCourse.id"
        value=""
        disabled
        ngModel>
    </span>
        <span class="custom-span">
      <label
        for="courseName"
        class="custom-span__label" >
          Name:
      </label>
      <input
        id="courseName"
        type="text"
        class="custom-span__input"
        name="currentCourse.name"
        [(ngModel)]="currentCourse.name"
        value=""
        ngModel>
    </span>
        <span class="custom-span">
      <label
        for="courseDescription"
        class="custom-span__label" >
          Description:
      </label>
      <input
        id="courseDescription"
        type="text"
        class="custom-span__input"
        [(ngModel)]="currentCourse.description"
        name="currentCourse.description"
        value=""
        ngModel>
    </span>
        <span class="custom-span">
      <label
        for="courseDuration"
        class="custom-span__label" >
          Course duration:
      </label>
      <input
        id="courseDuration"
        type="text"
        class="custom-span__input"
        [(ngModel)]="currentCourse.duration"
        name="currentCourse.duration"
        placeholder="minutes"
        value=""
        ngModel>
    </span>
        <span class="custom-span">
      <label
        for="courseDate"
        class="custom-span__label" >
          Course date:
      </label>
      <input
        id="courseDate"
        type="date"
        class="custom-span__input"
        [(ngModel)]="currentCourse.date"
        name="currentCourse.date"
        value=""
        placeholder="YYYY-MM-DD"
        ngModel>
    </span>
        <div class="form-footer">
            <button type="submit" name="button" class="btn form-footer__button">submit</button>
        </div>
    </form>
    <app-edit [courseData]="currentModel" (courseDataOutput)="courseDataOutput($event)">
    </app-edit>
</div>