<div
  class="course__list"
  [myHighlight]="courseData.date"
  [ngClass]="{courseTopRated : courseData.topRated === 'true'}"
  >
  <div class="course__description">
    <div class="course__label">
      <div class="course__label__name">
        Video curse <span class="course__label__name--id">{{courseData._id}}</span>
      </div>
      <div class="course__label__time">
        {{courseData.duration | myDuration}} hour
        <span class="star" *ngIf="courseData.topRated" [raiting]="courseData.topRated"></span>
      </div>
      <div class="course__label__date">
        date {{courseData.date | date:'medium'}}
      </div>
    </div>
    <div class="course__text">
      {{courseData.name | uppercase}} {{courseData.description}}
    </div>
  </div>
  <div class="course__edition">
    <a [routerLink]="['./editCourse', courseData._id]" class="btn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Edit Course
    </a>
    <a href="#" class="btn" (click)="deleteCurse(courseData.id)">Delete</a>
  </div>
</div>
