<div class="home">

  <app-courses-navigation (sortByName)="sortByName($event)">
  </app-courses-navigation>
  <hr>
  <div class="filter">
    Filter by: <br>
    <a href="#">Id</a>|
    <a href="#">Name</a>|
    <a href="#">Date</a>|
    <a href="#" (click)="addMutable()">mutable change</a>
  </div>

  <div class="empty" *ngIf="coursesListFilled == false">No data. Feel free to add new course</div>
  <div *ngIf="coursesListFilled" class="courses">
    <app-course *ngFor="let course of coursesList | myOrderByDate | myColor | myFilterOutdated" [courseData]="course" (deteleCourse)="deteleCourse($event)">
    </app-course>
    <button class="btn" (click)="loadMore()"> load more</button>
  </div>
</div>
<app-loader [isPopupShow]="loaderService.showLoader"></app-loader>
<app-popup></app-popup>