<div class="global-wrapper" *ngIf="checkVisibility">
  <div class="global-wrapper__horizontal">
    <div class="popup">
      <div class="popup-header">
        {{popupData.header}}
      </div>
      <div class="popup-body">
        <div class="popup-body__text">
          {{popupData.bodyText}}
        </div>
        <div class="popup-body__buttons">
          <button href="#" class="btn" (click)="confirmDelete()">Yes</button>
          <button href="#" class="btn" (click)="cancelDelete()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>